* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
.jobSearchContainer {
  color: red;
  /* background: rgb(250, 244, 243); */

  width: 100vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-family: sans-serif;
}
.jobSearchContainer .quote {
  width: 90vw;
  text-align: center;
  color: white;
  font-size: 2em;
  margin-bottom: 2em;
  font-family: "Dosis";
}
.jobSearchContainer input {
  border: none;
  width: 70vw;
  height: 8vh;
  font-size: 5vh;
  /* border-radius: 0.2em; */
  border-top-left-radius: 0.2em;
  border-bottom-left-radius: 0.2em;
}

.jobSearchContainer button {
  height: 8vh;
  width: 10vw;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  border: none;
  background: red;
  color: white;
  font-family: "Dosis";
  font-size: 1.3em;
}
.SearchBar {
  display: flex;
  align-items: center;
  justify-content: center;
}
