* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100vw;
  color: rgb(255, 255, 255);
  /* background: rgb(214, 13, 60); */
  /* background: linear-gradient(
    0.25turn,
    rgb(158, 15, 8),
    #f0a0a0,
    rgb(158, 15, 7)
  ); */
  transition: all 0.6s;
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  padding: 0 1em 0 1em;
  align-items: center;
  font-family: "Arvo";
  font-weight: 400;
  font-size: 1rem;
  position: fixed;
}
.header:hover,
.sticky {
  background-color: white;
  color: black;
  fill: white;
}

.homePageSvg {
  fill: black;
}
/* .sticky {
  background-color: white;
  color: black;

  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  padding: 0 1em 0 1em;
  align-items: center;
  font-family: "Arvo";
  font-weight: 400;
  font-size: medium;
  position: fixed;
} */

.pagesOption {
  display: flex;
  justify-content: space-between;
  width: 20vw;
}
/* .header img {
  width: fit-content;
  height: 4em;
  filter: drop-shadow(2px 4px 10px rgb(255, 255, 255));
} */
.homePageSvg {
  height: 1em;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
