.homeHeader {
  width: 100vw;
  height: 70vh;
  /* background: linear-gradient(
    to top,
    rgba(255, 131, 195, 0.9),
    rgba(255, 255, 255, 0.9)
  ); */
  background-image: url(../../Assets/images/image1.png);
  background-size: cover;
  background-repeat: no-repeat;
}
